<%= provide(:title, @taxon.name) %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @taxon.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active"><%= @taxon.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories', taxonomies: @taxonomies %>
        <%= render 'search_price' %>
        <%= render 'color_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sort' %>
        <%= render 'product_list', products: @products %>
      </div>
    </div>
  </div>
</section>

<%= render 'underlogo' %>
